name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  extract-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract.outputs.version }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Extract FIREBASE_VERSION from Dockerfile
        id: extract
        run: |
          version=$(grep '^ARG FIREBASE_VERSION=' Dockerfile | cut -d'=' -f2)
          echo "version=$version" >> $GITHUB_OUTPUT

  build:
    needs: extract-version
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64, linux/arm/v7, linux/arm/v6]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image for ${{ matrix.platform }}
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: ${{ matrix.platform }}
          build-args: |
            FIREBASE_VERSION=${{ needs.extract-version.outputs.version }}
          tags: |
            ste80pa/firebase:latest
            ste80pa/firebase:${{ needs.extract-version.outputs.version }}
